<h1>New account</h1>

<p>
    Here you can find all the details needed to access your new test account. Remember that if sending messages through SMTP then no message is actually delivered, all messages are catched and you can see these in the Messages page or by using your favorite
    IMAP/POP3 client.
</p>

<h4>Account credentials</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        <code>{{user.address}}</code> (also works as a real inbound email address)
                    </td>
                </tr>
                <tr>
                    <th>
                        Password
                    </th>
                    <td>
                        <code>{{user.password}}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>Nodemailer configuration</h4>

<div class="row">
    <div class="col-12">
        <pre>const transporter = nodemailer.createTransport({
    host: 'smtp.ethereal.email',
    port: 587,
    auth: {
        user: '{{encodedUser}}',
        pass: '{{encodedPass}}'
    }
});</pre>
    </div>
</div>

<h4>PHPMailer configuration</h4>
<div class="row">
    <div class="col-12">
        <pre>$mail = new PHPMailer(true);
$mail->isSMTP();
$mail->Host = 'smtp.ethereal.email';
$mail->SMTPAuth = true;
$mail->Username = '{{encodedUser}}';
$mail->Password = '{{encodedPass}}';
$mail->SMTPSecure = 'tls';
$mail->Port = 587;</pre>
    </div>
</div>

<h4>SwiftMailer configuration</h4>
<div class="row">
    <div class="col-12">
        <pre>$transport = (new Swift_SmtpTransport('smtp.ethereal.email', 587, 'tls'))
  ->setUsername('{{encodedUser}}')
  ->setPassword('{{encodedPass}}');</pre>
    </div>
</div>

<h4>SMTP configuration</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Host
                    </th>
                    <td>
                        <code>smtp.ethereal.email</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Port
                    </th>
                    <td>
                        <code>587</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Security
                    </th>
                    <td>
                        <code>STARTTLS</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>IMAP configuration</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Host
                    </th>
                    <td>
                        <code>imap.ethereal.email</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Port
                    </th>
                    <td>
                        <code>993</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Security
                    </th>
                    <td>
                        <code>TLS</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>POP3 configuration</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Host
                    </th>
                    <td>
                        <code>pop3.ethereal.email</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Port
                    </th>
                    <td>
                        <code>995</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Security
                    </th>
                    <td>
                        <code>TLS</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
