<h1>Account created</h1>

<p>
    Here you can find all the details needed to access your new Ethereal test account. Remember that if sending messages through SMTP then no message is actually delivered, all messages are caught and you can see these in the <a href="/messages/" target="_blank">Messages</a> page or by using your favorite
    IMAP/POP3 client.
</p>

<h4>Account credentials</h4>

<p>
    <strong>NB!</strong> these credentials are shown only once. If you do not write these down then you have to create a new account.
</p>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        <code>{{userData.address}}</code> (also works as a real inbound email address)
                    </td>
                    <td class="text-right">
                        <a href="data:text/csv;charset=utf-8;base64,{{{csvData}}}" download="credentials.csv" target="_plain" class="btn btn-info btn-sm"><span class="oi oi-cloud-download"></span> Download as CSV</a>
                    </td>
                </tr>
                <tr>
                    <th>
                        Password
                    </th>
                    <td>
                        <code>{{userData.password}}</code>
                    </td>
                    <td>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4 style="margin-top: 30px;">Nodemailer configuration</h4>

<div class="row">
    <div class="col-12">
        <pre>const transporter = nodemailer.createTransport({
    host: '{{smtp.host}}',
    port: {{smtp.port}},
    auth: {
        user: '{{encodedUser}}',
        pass: '{{encodedPass}}'
    }
});</pre>
    </div>
</div>

<h4>PHPMailer configuration</h4>
<div class="row">
    <div class="col-12">
        <pre>$mail = new PHPMailer(true);
$mail->isSMTP();
$mail->Host = '{{smtp.host}}';
$mail->SMTPAuth = true;
$mail->Username = '{{encodedUser}}';
$mail->Password = '{{encodedPass}}';
$mail->SMTPSecure = 'tls';
$mail->Port = {{smtp.port}};</pre>
    </div>
</div>

<h4>SwiftMailer configuration</h4>
<div class="row">
    <div class="col-12">
        <pre>$transport = (new Swift_SmtpTransport('{{smtp.host}}', {{smtp.port}}, 'tls'))
  ->setUsername('{{encodedUser}}')
  ->setPassword('{{encodedPass}}');</pre>
    </div>
</div>

<h4>SMTP configuration</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Host
                    </th>
                    <td>
                        <code>{{smtp.host}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Port
                    </th>
                    <td>
                        <code>{{smtp.port}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Security
                    </th>
                    <td>
                        <code>STARTTLS</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        <code>{{userData.address}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Password
                    </th>
                    <td>
                        <code>{{userData.password}}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>IMAP configuration</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Host
                    </th>
                    <td>
                        <code>{{imap.host}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Port
                    </th>
                    <td>
                        <code>{{imap.port}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Security
                    </th>
                    <td>
                        <code>TLS</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        <code>{{userData.address}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Password
                    </th>
                    <td>
                        <code>{{userData.password}}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h4>POP3 configuration</h4>

<div class="row">
    <div class="col-12">
        <table class="table table-responsive table-hover table-sm">
            <tbody>
                <tr>
                    <th>
                        Host
                    </th>
                    <td>
                        <code>{{pop3.host}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Port
                    </th>
                    <td>
                        <code>{{pop3.port}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Security
                    </th>
                    <td>
                        <code>TLS</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Username
                    </th>
                    <td>
                        <code>{{userData.address}}</code>
                    </td>
                </tr>
                <tr>
                    <th>
                        Password
                    </th>
                    <td>
                        <code>{{userData.password}}</code>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
