<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link{{#if activeHeader}} active{{/if}}" id="message-header-tab" data-toggle="tab" href="#message-header" role="tab" aria-controls="message-header" aria-expanded="true">Headers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{#if activeEnvelope}} active{{/if}}" id="message-envelope-tab" data-toggle="tab" href="#message-envelope" role="tab" aria-controls="message-envelope">Envelope</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{messageUrl}}/source">Source</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    {{#if message.attachments}}
        <div class="float-right attachment-list">
            {{#each message.attachments}}
                <a class="btn btn-secondary btn-sm" href="{{../attachmentUrl}}/{{id}}" role="button" download="{{fileName}}"><span class="oi oi-paperclip" title="Download attachment" aria-hidden="true"></span> {{fileName}}</a>
            {{/each}}
        </div>
    {{/if}}

    <div class="tab-pane{{#if activeHeader}} show active{{/if}}" id="message-header" role="tabpanel" aria-labelledby="message-header-tab">
        <div>
            <strong>Public URL:</strong>
            <a href="/message/{{message.publicId}}">click here</a> (does not require authentication)
        </div>
        {{#each info}}
            <div>
                <strong>{{key}}:</strong>
                <span {{#if isDate}} class="datestring" title="{{value}}" {{/if}}>
                    {{#if isHtml}}{{{value}}}{{else}}{{value}}{{/if}}
                </span>
            </div>
        {{/each}}
    </div>
    <div class="tab-pane{{#if activeEnvelope}} show active{{/if}}" id="message-envelope" role="tabpanel" aria-labelledby="message-envelope-tab">
        {{#each envelope}}
            <div>
                <strong>{{key}}:</strong>
                <span {{#if isDate}} class="datestring" title="{{value}}" {{/if}}>
                    {{#if isHtml}}{{{value}}}{{else}}{{value}}{{/if}}
                </span>
            </div>
        {{/each}}
    </div>
</div>

</div>
<!-- upper .container -->

<div class="container includes-iframe">
    <!-- lower .container -->

    <div id="message" class="iframe-box"></div>

    <script type="text/javascript" src="/purify-1.0.0/purify.min.js"></script>
    <script>
        var message = {{{messageJson}}};

        document.addEventListener("DOMContentLoaded", function(event) {
            if (message.html) {
                var clean = DOMPurify.sanitize(message.html.join('\n'), {
                    ALLOW_UNKNOWN_PROTOCOLS: true,
                    WHOLE_DOCUMENT: true,
                    FORBID_TAGS: ['form']
                });

                clean = clean.replace(/head>/, 'head><link rel="stylesheet" href="/mail.css" /><base target="_parent">');

                var iframe = document.createElement('iframe');

                document.getElementById('message').appendChild(iframe);
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(clean);
                iframe.contentWindow.document.close();
            }
        }, false);
    </script>
