<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link{{#if activeHeader}} active{{/if}}" id="message-header-tab" data-toggle="tab" href="#message-header" role="tab" aria-controls="message-header" aria-expanded="true">Headers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link{{#if activeEnvelope}} active{{/if}}" id="message-envelope-tab" data-toggle="tab" href="#message-envelope" role="tab" aria-controls="message-envelope">Envelope</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{messageUrl}}/source">Source</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    {{#if message.attachments}}
        <div class="float-right attachment-list">
            {{#each message.attachments}}
                <a class="btn btn-secondary btn-sm" href="{{../attachmentUrl}}/{{id}}" role="button" download="{{fileName}}"><span class="oi oi-paperclip" title="Download attachment" aria-hidden="true"></span> {{fileName}}</a>
            {{/each}}
        </div>
    {{/if}}

    <div class="tab-pane{{#if activeHeader}} show active{{/if}}" id="message-header" role="tabpanel" aria-labelledby="message-header-tab">
        {{#if activeMessages}}
        <div>
            <a class="btn btn-link btn-sm" href="/message/{{message.publicId}}" role="button"><span class="oi oi-link-intact" title="Public URL" aria-hidden="true"></span> Public URL of this message</a>
            </div>
        {{/if}}

        {{#if message.flagged}}
            <div class="float-left text-warning">
                <span class="oi oi-star" title="Message is flagged"></span>&nbsp;
            </div>
        {{/if}}

        {{#each info}}
            <div>
                <strong>{{key}}:</strong>
                <span {{#if isDate}} class="datestring" title="{{value}}" {{/if}}>
                    {{#if isHtml}}{{{value}}}{{else}}{{value}}{{/if}}
                </span>
            </div>
        {{/each}}

        {{#if message.deleted}}
            <div>
                <span class="text-danger">IMAP client has marked this message to be deleted</span>
            </div>
        {{/if}}
    </div>

    <div class="tab-pane{{#if activeEnvelope}} show active{{/if}}" id="message-envelope" role="tabpanel" aria-labelledby="message-envelope-tab">
        {{#each envelope}}
            <div>
                <strong>{{key}}:</strong>
                <span {{#if isDate}} class="datestring" title="{{value}}" {{/if}}>
                    {{#if isHtml}}{{{value}}}{{else}}{{value}}{{/if}}
                </span>
            </div>
        {{/each}}
        {{#if expires}}
            <div>
                <strong>Message expires:</strong>
                <span class="datestring" title="{{expires}}">
                    {{expires}}
                </span>
                <span class="text-muted">message is deleted briefly after expiration time</span>
            </div>
        {{/if}}
    </div>
</div>

</div>
<!-- upper .container -->

<div class="container includes-iframe">
    <!-- lower .container -->
    <div class="iframe-box">

        <div class="select-view">
            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input toggleview" type="radio" name="toggleview" id="showHtml" value="html" checked> HTML
                </label>
            </div>

            <div class="form-check form-check-inline">
                <label class="form-check-label">
                    <input class="form-check-input toggleview" type="radio" name="toggleview" id="showPlaintext" value="plaintext"> Plaintext
                </label>
            </div>
        </div>

        <div id="message"></div>

        <div id="plaintext" class="message-plaintext" style="display: none">{{message.text}}</div>
    </div>

    <script type="text/javascript" src="/purify-1.0.0/purify.min.js"></script>
    <script>
        var message = {{{messageJson}}};

        document.addEventListener("DOMContentLoaded", function(event) {
            if (message.html) {
                var clean = DOMPurify.sanitize(message.html.join('\n'), {
                    ALLOW_UNKNOWN_PROTOCOLS: true,
                    WHOLE_DOCUMENT: true,
                    FORBID_TAGS: ['form']
                });

                clean = clean.replace(/head>/, 'head><link rel="stylesheet" href="/mail.css" /><base target="_parent"><script>function resizeIframe(obj) {obj.style.height = obj.contentWindow.document.body.scrollHeight + "px";}</'+'script>');

                var iframe = document.createElement('iframe');

                document.getElementById('message').appendChild(iframe);
                iframe.contentWindow.document.open();
                iframe.contentWindow.document.write(clean);
                iframe.contentWindow.document.close();
                iframe.contentWindow.addEventListener('load', function(){
                    iframe.contentWindow.resizeIframe(iframe);
                });
            }
        }, false);

        function updateView(e){
            if(e.target.checked){
                if(e.target.value === 'html'){
                    document.getElementById('message').style.display = 'block';
                    document.getElementById('plaintext').style.display = 'none';
                }else if(e.target.value === 'plaintext'){
                    document.getElementById('message').style.display = 'none';
                    document.getElementById('plaintext').style.display = 'block';
                }
            }
        }

        document.querySelectorAll('.toggleview').forEach(function(element){
            element.addEventListener('change', updateView);
            element.addEventListener('click', updateView);
        });
    </script>
