<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link" href="{{messageUrl}}?tab=header">Headers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{messageUrl}}?tab=envelope">Envelope</a>
    </li>
    <li class="nav-item active">
        <a class="nav-link active" href="{{messageUrl}}/source">Source</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane show active">

        <div class="text-right">
            <a class="btn btn-link btn-sm" href="{{messageUrl}}/message.eml" role="button" download="message.eml"><span class="oi oi-cloud-download" title="Download source" aria-hidden="true"></span> Download full source</a>
        </div>

        <pre class="numbered">{{{source}}}</pre>

    </div>
</div>
